h1{
	text-align: center;
}

#selection {
	display: inline-block;
	width: 45%;
	padding: 10px;
	vertical-align: top;
}

#output {
	display: inline-block;
	width: 45%;
	padding: 10px;
}

table {
	border-style: solid;
	border-collapse: collapse;
	border-width: 2px;
	border-color: black;
	width: 45%;
	
	text-align: center;
	margin: 20px 10px;
	
}

table td, th {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

table th {
	font-weight: bold;
}




